<div class="wrapper">
    <aside class="sidebar">
      <img src="assets/logo.png" alt="Logo" class="img-fluid mb-3" />
      <h2>Menú</h2>
      <ul>
        <li><a routerLink="/paises">Países</a></li>
        <li><a routerLink="/departamentos">Departamentos</a></li>
        <li><a routerLink="/municipios">Municipios</a></li>
        <li><a routerLink="/empresas">Empresas</a></li>
        <li><a routerLink="/colaboradores">Colaboradores</a></li>
        <!-- Agrega más enlaces aquí -->
      </ul>
    </aside>
    <main class="content">
      <!-- <button class="btn btn-primary toggle-btn" (click)="toggleSidebar()">☰</button> -->
      <router-outlet></router-outlet>
    </main>
  </div>
  
  